<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633654595881-pu7anfddhlf9elin0d0bn0300pf0t8g8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633654595881-pu7anfddhlf9elin0d0bn0300pf0t8g8</string>
	<key>API_KEY</key>
	<string>AIzaSyBeV8mz-JLkPJ3X_nCIQ0SVz_quBThgliU</string>
	<key>GCM_SENDER_ID</key>
	<string>633654595881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crisisConnect</string>
	<key>PROJECT_ID</key>
	<string>crisisconnect-2af2b</string>
	<key>STORAGE_BUCKET</key>
	<string>crisisconnect-2af2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633654595881:ios:0740affc55a2f11fc22738</string>
</dict>
</plist>